<div class="jumbotron">
    <h1 class="display-4">Yönetici Paneli</h1>
    <p class="lead">Ödev Dağıtım Portalı yönetim sistemi</p>
    <hr class="my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ödev Yönetimi</h5>
                    <p class="card-text">Ödev ekleme, düzenleme ve silme işlemleri</p>
                    <a href="/Admin/Assignment" class="btn btn-primary">Ödevleri Yönet</a>
                </div>
            </div>
        </div>
    </div>
</div>