<div class="jumbotron">
    <h1 class="display-4">Ödev Dağıtım Portalı</h1>
    <p class="lead">Öğretmen ve öğrenciler için ödev yönetim sistemi</p>
    <hr class="my-4">
    <p>Sistemi kullanmak için lütfen giriş yapın.</p>
    <a class="btn btn-primary btn-lg" href="/Account/Login" role="button">Giriş Yap</a>
</div>